body {
    background-color: #5D6D7E;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 15px;
    }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.topnav a:hover {
    background-color: #ddd;
    color: black;
    }
.handle_Data {
    margin: 15px;
    }
.title_of_page {
    text-align: center;
    color: #f2f2f2;
    background-color: #333;
    padding: 14px 16px;
    font-size: 32px;
    }

.sub_title {
    text-align: center;
    color: #f2f2f2;
    background-color: #333;
    padding: 14px 16px;
    font-size: 23px;
    }

.margin {
    margin: 15px;
        }

.right {
    float:right;
    border-color: black;
    }

.gold {
    background-color: #F1C40F ;
    }